* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.tema {
  margin: 20px 0 20px 10px;
  width: 100px;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}

.dark_mode {
  background-color: #121212;
  color: #fff;
}

main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 10px;
  text-align: center;
}

hr {
  font-weight: bold;
  height: 3px;
  background-color: #121212;
  margin-bottom: 10px;
}

.message_container {
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
}

.message {
  padding: 10px;
}

.green {
  background-color: #0ea300;
  border: #0ea300 1px solid;
  border-radius: 15px;
}

.draw {
  background-color: #ceca00;
  border: #ceca00 1px solid;
  border-radius: 15px;
}

.game {
  margin: 20px 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.game button {
  width: 100px;
  height: 100px;
  margin: 1px;
  cursor: pointer;
  font-size: 50px;
  background-color: #fff;
  box-shadow: #121212 1px 2px 5px;
}

footer p {
  padding: 5px;
}

footer > p > a {
  text-decoration: none;
  color: #00a39b;
}
